	<div id='header'>
		<div id='branding'>
			<h1>interpretio</h1>
		</div>
		<div id="actions">
			<ul class="actionCont">
				<li class="actionItem"><a class="aiButton" id="run" title="Run" href="#run"><span>Record</span></a></li>
			</ul>
			<ul class="actionCont collapsed">
				<li class="actionItem"><a class="aiButton" id="clean" title="Reset all fields" href="#clear"><span>End Call</span></a></li>
			</ul>
			<ul class="actionCont right">
				<li class="actionItem noIcon"><a class="aiButton" id="login" title="Login" href="/user/login/"><span>Login/Sign up</span></a></li>
			</ul>
		</div>
	</div>
	<div id='sidebar'>
		<div id="info">
			<p>Welcome to interpretio - offering online conference call recording and translation.<a id="info-close" title="Close" href="#">Close</a></p>
		</div>

		<h3 class="ui_toggle">Conference Info</h3>
		<div class="element ui_toggle_container">
			<div class="elementBody">
				<div class="ebCont">
					<p><label>Title<input id="id_title" type="text" name="title" maxlength="255" /></label></p>
					<p><label>Description<textarea id="id_description" rows="10" cols="40" name="description"></textarea></label></p>
				</div>
			</div>
		</div>

		<h3 class="ui_toggle active">Attendees</h3>
		<div id="attendees" class="element ui_toggle_container">
			<div class="elementBody">
				<div class="ebCont">
          <%= "No Attendees" if @conference.participants.empty? %>
          <% @conference.participants.each do |participant| %>
            <div class="attendee">
              <img src="/res/images/203299_4710281_1367346_q.jpg" alt="Jane Doe" />
              <h4><%= participant.phone %></h4>
              <p class="info"><%= participant.location %></p>
            </div>
          <% end %>
				</div>
			</div>
		</div>

		<h3 class="ui_toggle">Add Attendee</h3>
		<div class="element ui_toggle_container">
			<div class="elementBody">
				<div class="ebCont">
					<div id="external-resources-form">
						<input id="external_resource" type="text" value="" /><a id="add_external_resource" class="submit" href="#" title="Add resource"><span>Add</span></a>
					</div>
				</div>
			</div>
		</div>

		<h3 class="ui_toggle">Add Translator</h3>
		<div class="element ui_toggle_container">
			<div class="elementBody">
				<div class="ebCont">
					<form method="post" id="translator_form" name="translator_form" action="/translations.xml">
					<fieldset>
						<ul>
							<li><label><input type="checkbox" name="language[]" id="language_english" />English</label></li>
							<li><label><input type="checkbox" name="language[]" id="language_spanish" />Spanish</label></li>
							<li><label><input type="checkbox" name="language[]" id="language_french" />French</label></li>
							<li><label><input type="checkbox" name="language[]" id="language_german" />German</label></li>
							<li><label><input type="checkbox" name="language[]" id="language_italian" />Italian</label></li>
						</ul>
						<input type="hidden" name="conference_id" id="conference_id" value="1" />
					</fieldset>
					</form>
				</div>
			</div>
		</div>

		<h3 class="ui_toggle">Legal stuff and credits</h3>
		<div class="element ui_toggle_container">
			<div class="elementBody">
				<div class="ebCont">
					<p>This is a demo for <a href="http://apihackdaychicago.eventbrite.com/">API Hack Day Chicago</a>.</p>
					<p>Created by <a title="Jason McCreary" href="http://jason.pureconcepts.net">Jason McCreary</a>, <a title="Jason McCreary" href="http://jason.pureconcepts.net">Jason McCreary</a>, and <a title="Jason McCreary" href="http://jason.pureconcepts.net">Jason McCreary</a>.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="content">
			<div class="window top">
				<div id="log">
					<ol>
						<li><span class="attendee">Jane Doe:</span> This is something that recorded. <span class="timestamp">8:45am</span></li>
						<li><span class="attendee">John Doe:</span> This is something that recorded. <span class="timestamp">8:46am</span></li>
					</ol>
				</div>
				<span class="window_label">Log</span>
			</div>
			<div class='handler handler_horizontal'></div>
			<div class="window bottom">
				<form method="post" id="log_form" name="log_form" action="/log/create">
					<fieldset>
						<textarea id="message" name="message"></textarea>
						<span class="window_label">Notes</span>
						<input type="hidden" name="conference_id" id="conference_id" value="1" />
						<input type="hidden" name="user_id" id="conference_id" value="3" />
						<input type="submit" name="log_form_submit" value="Go" />
					</fieldset>
				</form>
			</div>
			</div>
	</div>
